@charset "UTF-8";
/* 구글폰트로 웹사이트 글자체 변경 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: 0.25;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
}

h1 {
    font-size: calc(1.5rem + 1.5vw);
    /* 계산으로 넓이를 변경 */
}

@media screen and (min-width:1200px) {
    h1 {
        font-size: 2.5rem;
    }
}

h2 {
    font-size: calc(1.3rem + 0.9vw);
    /* 계산으로 넓이를 변경 */
}

@media screen and (min-width:1200px) {
    h1 {
        font-size: 2.0rem;
    }
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    /* 1em = 16px */
}

ol,
ul {
    padding-left: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

img {
    vertical-align: middle;
}

.footer {
    padding: 5rem 0;
}

.contact-section {
    padding-top: 5rem;
}

.contact-section .card {
    border: 0;
    border-bottom: 0.25rem solid #64a19d;

}

.contact-section .card h4 {
    font-size: 0.8rem;
    letter-spacing: 0.15rem;
}

.contact-section .card hr {
    opacity: 1;
    border-color: #64a19d;
    border-width: 0.25rem;
    width: 3rem;
}

.contact-section .social {
    margin-top: 5rem;
}

.contact-section .social a {
    text-align: center;
    width: 3rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    line-height: 3rem;
    /* 16px x 3 */
    color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:hover {
    color: rgba(255, 255, 255, 0.9);
}

.contact-section .social a:active {
    color: white;
}

.signup-section {
    padding: 10rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000 100%),
        url('../image/bg-signup.jpg');

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.signup-section .form-signup input {
    box-shadow: 0 0.19rem 0.19rem 0 rgba(0, 0, 0, 0.1) !important;
    /* 무조건 적용되어야 하는 css(우선순위) */
    padding: 1.25rem 2rem;
    height: auto;
    font-size: 80%;
    letter-spacing: 0.1rem;
    /* 글자간격 */
    border: 0;

}

.btn {
    background-color: #64a19d;
    box-shadow: 0 0.19rem 0.19rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border: 0;
}

.btn:hover {
    background-color: #558985;
}

.btn:active {
    background-color: #558985;
}


.custom-color {
    color: #64a19d;
}

.portfolios-section {
    padding: 10rem 0;
}

.portfolios-section .featured-text {
    padding: 2rem;
}

.portfolios-section .portfolio-text {
    padding: 3rem;
    font-size: 90%;
}

@media screen and (min-width:992px) {
    .portfolios-section .featured-text {
        padding: 0 0 0 2rem;
        border-left: 0.5rem solid #64a19d;
    }

    .portfolios-section .portfolio-text {
        padding: 5rem;
    }
}

.about-section {
    padding-top: 10rem;
    background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9)75%, rgba(0, 0, 0, 0.8)100%);
}

.about-section p {
    margin-bottom: 5rem;
}

.masterHead {
    position: relative;
    width: 100vw;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3)0%, rgba(0, 0, 0, 0.7)50%, #000 100%),
        url('../image/bg-masthead.jpg');

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.masterHead h1 {
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: 0.8rem;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.masterHead h2 {
    max-width: 20rem;
    font-size: 1rem;
}

.mainNav {
    min-height: 3.5rem;
    background-color: #fff;
}

.mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #64a19d;
    border: 1px solid #64a19d;
}

.mainNav .navbar-toggler:focus {
    outline: none;
}

.mainNav .navbar-brand {
    color: #000;
    font-weight: 900;
    padding: 0.9rem 0;
}

.mainNav .navbar-nav .nav-item:hover {
    color: fade(#fff, 80%);
    outline: none;
    background-color: transparent;
}

.mainNav .navbar-nav .nav-item:active,
.mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

@media screen and (min-width : 992px) {
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
    }

    #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.5);
        padding: 0.5rem 0;
    }

}

#mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
}

#mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.8);
}

#mainNav .nav-link:active {  /* nav-link:active 는 기존에 있는 자식을 표시 #mainNav.navbar-shrink 사이에 뛰어써야한다. */
    color: white
}

/* js에서 메뉴 누르면 작동 */
#mainNav.navbar-shrink{   /* navbar-shrink 는 없는 클래스를 만든거라서 #mainNav.navbar-shrink 사이에 공백이 있으면 절대 안된다. */
    background-color: white;
    
}


#mainNav.navbar-shrink .navbar-brand{
    color: #000;
}

#mainNav.navbar-shrink .nav-link {
    color: #000;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
}

#mainNav.navbar-shrink .nav-link:hover{
    color: #64a19d
}
#mainNav.navbar-shrink .nav-link:active{
    color:#467370
}
#mainNav.navbar-shrink .nav-link:active{
    color: #64a19d;
    outline: none;
    border-bottom: 0.25rem solid #64a19d;
}

/* js에서 처리하는 메뉴부분 끝 */

html{
    scroll-padding-top: calc(4.5rem - 1px);
}

body{
    letter-spacing: 0.063em;
}

a{
    color: #64a19d;
}
